In [1]:
import requests
from bs4 import BeautifulSoup as bs
from selenium import webdriver
import pandas as pd
import time
from tqdm import tqdm

In [152]:
import copy
df = pd.read_csv('alba-job-matching-origin.csv')

In [153]:
new_df = pd.DataFrame()
new_df["alba_name"] = copy.deepcopy(df["alba_name"])
new_df["sub_code"] = copy.deepcopy(df["sub_code"])

for i in range(1,16):
    new_df["joc_code{0}".format(i)] = copy.deepcopy(df["job_code{0}".format(i)])
new_df.head()

,alba_name,sub_code,joc_code1,joc_code2,joc_code3,joc_code4,joc_code5,joc_code6,joc_code7,joc_code8,joc_code9,joc_code10,joc_code11,joc_code12,joc_code13,joc_code14,joc_code15
0,일반음식점,1010,173.0,1128.0,1116.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,레스토랑,1020,167.0,173.0,177.0,1127.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,패밀리레스토랑,1030,167.0,177.0,1127.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,패스트푸드점,1040,1128.0,1127.0,1116.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,치킨ㆍ피자전문점,1050,1128.0,1127.0,1116.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [154]:
new_df.iloc[12,:]

alba_name     백화점ㆍ면세점
sub_code         2010
joc_code1         928
joc_code2        1068
joc_code3        1116
joc_code4         NaN
joc_code5         NaN
joc_code6         NaN
joc_code7         NaN
joc_code8         NaN
joc_code9         NaN
joc_code10        NaN
joc_code11        NaN
joc_code12        NaN
joc_code13        NaN
joc_code14        NaN
joc_code15        NaN
Name: 12, dtype: object

In [155]:
import numpy as np
import math
data = pd.DataFrame()
data["alba_name"] = copy.deepcopy(df["alba_name"])
data["sub_code"] = copy.deepcopy(df["sub_code"])

In [156]:
driver = webdriver.Chrome('chromedriver.exe')

for idx, row in new_df.iterrows():
    text = ""
    for i in range(2,17):
        if math.isnan(float(row[i])):
            break;
        else:
            try:
                seq = int(row[i])
                driver.get(f"https://www.career.go.kr/cnet/front/base/job/jobView.do?SEQ={seq}")
                time.sleep(0.1)
                lists = driver.find_elements_by_xpath('//*[@id="tab1"]/ul[2]')
                tmp = ""
                for i in lists:
                    tmp = i.text.replace('\n',' ')
                text += tmp
            except Exception as e:
                print(e)
                print(data.loc[idx,'alba_name'] , "fail" ,idx ,"/", len(new_df))
    text.replace('\n'," ")
    data.loc[idx,'context'] = text
    print(data.loc[idx,'alba_name'] , "done" , idx ,"/", len(new_df))
data

일반음식점 done 0 / 150
레스토랑 done 1 / 150
패밀리레스토랑 done 2 / 150
패스트푸드점 done 3 / 150
치킨ㆍ피자전문점 done 4 / 150
커피전문점 done 5 / 150
아이스크림ㆍ디저트 done 6 / 150
베이커리ㆍ도넛ㆍ떡 done 7 / 150
호프ㆍ일반주점 done 8 / 150
바(bar) done 9 / 150
급식ㆍ푸드시스템 done 10 / 150
도시락ㆍ반찬 done 11 / 150
백화점ㆍ면세점 done 12 / 150
복합쇼핑몰ㆍ아울렛 done 13 / 150
쇼핑몰ㆍ소셜커머스ㆍ홈쇼핑 done 14 / 150
유통점ㆍ마트 done 15 / 150
편의점 done 16 / 150
의류ㆍ잡화매장 done 17 / 150
뷰티ㆍ헬스스토어 done 18 / 150
휴대폰ㆍ전자기기매장 done 19 / 150
가구ㆍ침구ㆍ생활소품 done 20 / 150
서점ㆍ문구ㆍ팬시 done 21 / 150
약국 done 22 / 150
농수산ㆍ청과ㆍ축산 done 23 / 150
화훼ㆍ꽃집 done 24 / 150
유통ㆍ판매 기타 done 25 / 150
놀이공원ㆍ테마파크 done 26 / 150
호텔ㆍ리조트ㆍ숙박 done 27 / 150
여행ㆍ캠프ㆍ레포츠 done 28 / 150
영화ㆍ공연 done 29 / 150
전시ㆍ컨벤션ㆍ세미나 done 30 / 150
스터디룸ㆍ독서실ㆍ고시원 done 31 / 150
PC방 done 32 / 150
노래방 done 33 / 150
볼링ㆍ당구장 done 34 / 150
스크린 골프ㆍ야구 done 35 / 150
DVDㆍ멀티방ㆍ만화카페 done 36 / 150
오락실ㆍ게임장 done 37 / 150
이색테마카페 done 38 / 150
키즈카페 done 39 / 150
찜질방ㆍ사우나ㆍ스파 done 40 / 150
피트니스ㆍ스포츠 done 41 / 150
공인중개 done 42 / 150
골프캐디 done 43 / 150
고속도로휴게소 done 44 / 150
문화ㆍ여가ㆍ생활 기타 done 45 / 150
매장관리ㆍ판매 done 46 / 150
MD done 47 / 150
캐셔ㆍ카운터 done 48 / 150
서빙 done 49 / 150
주방장ㆍ조리사 done 50 / 150
주방보조ㆍ설거지 done 51 / 150
바리스타 done 52 / 150
안내데스크 done 53 / 150
주차관리ㆍ주차도우미 done 54 / 150
보안ㆍ경비ㆍ경호 done 55 / 150
주유ㆍ세차 done 56 / 150
전단지배포 done 57 / 150
청소ㆍ미화 done 58 / 150
렌탈관리ㆍA/S done 59 / 150
헤어ㆍ미용ㆍ네일샵 done 60 / 150
피부관리ㆍ마사지 done 61 / 150
반려동물케어 done 62 / 150
베이비시터ㆍ가사도우미 done 63 / 150
결혼ㆍ연회ㆍ장례도우미 done 64 / 150
판촉도우미 done 65 / 150
이벤트ㆍ행사스텝 done 66 / 150
나레이터모델 done 67 / 150
피팅모델 done 68 / 150
서비스 기타 done 69 / 150
사무보조 done 70 / 150
문서작성ㆍ자료조사 done 71 / 150
비서 done 72 / 150
경리ㆍ회계보조 done 73 / 150
인사ㆍ총무 done 74 / 150
마케팅ㆍ광고ㆍ홍보 done 75 / 150
번역ㆍ통역 done 76 / 150
복사ㆍ출력ㆍ제본 done 77 / 150
편집ㆍ교정ㆍ교열 done 78 / 150
공공기관ㆍ공기업ㆍ협회 done 79 / 150
학교ㆍ도서관ㆍ교육기관 done 80 / 150
고객상담ㆍ인바운드 done 81 / 150
텔레마케팅ㆍ아웃바운드 done 82 / 150
금융ㆍ보험영업 done 83 / 150
일반영업ㆍ판매 done 84 / 150
설문조사ㆍ리서치 done 85 / 150
영업관리ㆍ지원 done 86 / 150
제조ㆍ가공ㆍ조립 done 87 / 150
포장ㆍ품질검사 done 88 / 150
입출고ㆍ창고관리 done 89 / 150
상하차ㆍ소화물 분류 done 90 / 150
기계ㆍ전자ㆍ전기 done 91 / 150
정비ㆍ수리ㆍ설치ㆍA/S done 92 / 150
공사ㆍ건설현장 done 93 / 150
PVC(닥트ㆍ배관설치) done 94 / 150
조선소 done 95 / 150
재단ㆍ재봉 done 96 / 150
생산ㆍ건설ㆍ노무 기타 done 97 / 150
웹ㆍ모바일기획 done 98 / 150
사이트ㆍ콘텐츠 운영 done 99 / 150
바이럴ㆍSNS마케팅 done 100 / 150
프로그래머 done 101 / 150
HTML코딩 done 102 / 150
QAㆍ테스터ㆍ검증 done 103 / 150
시스템ㆍ네트워크ㆍ보안 done 104 / 150
PCㆍ디지털기기 설치ㆍ관리 done 105 / 150
입시ㆍ보습학원 done 106 / 150
외국어ㆍ어학원 done 107 / 150
컴퓨터ㆍ정보통신 done 108 / 150
요가ㆍ필라테스 강사 done 109 / 150
피트니스 트레이너 done 110 / 150
레져스포츠 강사 done 111 / 150
예체능 강사 done 112 / 150
유아ㆍ유치원 done 113 / 150
방문ㆍ학습지 done 114 / 150
보조교사 done 115 / 150
자격증ㆍ기술학원 done 116 / 150
국비교육기관 done 117 / 150
교육ㆍ강사 기타 done 118 / 150
웹ㆍ모바일디자인 done 119 / 150
그래픽ㆍ편집디자인 done 120 / 150
제품ㆍ산업디자인 done 121 / 150
CADㆍCAMㆍ인테리어디자인 done 122 / 150
캐릭터ㆍ애니메이션디자인 done 123 / 150
패션ㆍ잡화디자인 done 124 / 150
디자인 기타 done 125 / 150
미디어 전체 done 126 / 150
보조출연ㆍ방청 done 127 / 150
방송스텝ㆍ촬영보조 done 128 / 150
동영상촬영ㆍ편집 done 129 / 150
사진촬영ㆍ편집 done 130 / 150
조명ㆍ음향 done 131 / 150
방송사ㆍ프로덕션 done 132 / 150
신문ㆍ잡지ㆍ출판 done 133 / 150
미디어 기타 done 134 / 150
운송ㆍ이사 done 135 / 150
대리운전ㆍ일반운전 done 136 / 150
택시ㆍ버스운전 done 137 / 150
수행기사 done 138 / 150
화물ㆍ중장비ㆍ특수차 done 139 / 150
택배ㆍ퀵서비스 done 140 / 150
배달 done 141 / 150
병원ㆍ간호ㆍ연구 전체 done 142 / 150
간호조무사ㆍ간호사 done 143 / 150
간병ㆍ요양보호사 done 144 / 150
원무ㆍ코디네이터 done 145 / 150
외래보조ㆍ병동보조 done 146 / 150
수의테크니션ㆍ동물보건사 done 147 / 150
실험ㆍ연구보조 done 148 / 150
생동성ㆍ임상시험 done 149 / 150

        alba_name sub_code                                            context
0           일반음식점     1010  조리사 및 주방장은 예민한 미각이 필요하며 새로운 음식 메뉴를 개발하기 위해 진취적...
1            레스토랑     1020  각종 와인의 종류와 맛, 음식과의 궁합에 대해 알고 있어야 하며, 이를 위해 포도의...
2         패밀리레스토랑     1030  각종 와인의 종류와 맛, 음식과의 궁합에 대해 알고 있어야 하며, 이를 위해 포도의...
3          패스트푸드점     1040  무엇보다 설거지, 청소, 음식재료 다듬기 등의 힘든 일을 잘 견디어낼 수 있는 인내...
4        치킨ㆍ피자전문점     1050  무엇보다 설거지, 청소, 음식재료 다듬기 등의 힘든 일을 잘 견디어낼 수 있는 인내...
..            ...      ...                                                ...
145      원무ㆍ코디네이터     E030  보건의료정보관리사는 의료분야의 전산화로 전문적인 전산지식이 필요하며 수많은 통계자료...
146     외래보조ㆍ병동보조     E040  치과위생사는 치위생에 관한 기초지식이 필요하며 병원뿐만 아니라 타 공사기관에서 구강...
147  수의테크니션ㆍ동물보건사     E050  수의사는 세심한 관찰력이 필요하며, 돌발 상황 시 침착하게 문제를 해결할 수 있는 ...
148       실험ㆍ연구보조     E060  대체에너지개발연구원은 새로운 대체 에너지를 연구ㆍ개발할 수 있는 창의력과 논리적으로...
149      생동성ㆍ임상시험     E070  생물학 및 자연과학 전반에 대한 지식을 가지고 있어야 하며 자연법칙과 과학적 연구방...

[150 rows x 3 columns]

In [ ]:
driver = webdriver.Chrome('chromedriver.exe')

for idx, row in new_df.iterrows():
    text = ""
    for i in range(2,17):
        if math.isnan(float(row[i])):
            break;
        else:
            try:
                seq = int(row[i])
                driver.get(f"https://www.career.go.kr/cnet/front/base/job/jobView.do?SEQ={seq}")
                time.sleep(0.1)
                lists = driver.find_elements_by_xpath('//*[@id="tab1"]/ul[2]')
                tmp = ""
                for i in lists:
                    tmp = i.text.replace('\n',' ')
                text += tmp
            except Exception as e:
                print(e)
                print(data.loc[idx,'alba_name'] , "fail" ,idx ,"/", len(new_df))
    text.replace('\n'," ")
    data.loc[idx,'context'] = text
    print(data.loc[idx,'alba_name'] , "done" , idx ,"/", len(new_df))
data

일반음식점 done 0 / 150
레스토랑 done 1 / 150
패밀리레스토랑 done 2 / 150
패스트푸드점 done 3 / 150
치킨ㆍ피자전문점 done 4 / 150
커피전문점 done 5 / 150
아이스크림ㆍ디저트 done 6 / 150
베이커리ㆍ도넛ㆍ떡 done 7 / 150
호프ㆍ일반주점 done 8 / 150
바(bar) done 9 / 150
급식ㆍ푸드시스템 done 10 / 150
도시락ㆍ반찬 done 11 / 150
백화점ㆍ면세점 done 12 / 150
복합쇼핑몰ㆍ아울렛 done 13 / 150
쇼핑몰ㆍ소셜커머스ㆍ홈쇼핑 done 14 / 150
유통점ㆍ마트 done 15 / 150
편의점 done 16 / 150
의류ㆍ잡화매장 done 17 / 150
뷰티ㆍ헬스스토어 done 18 / 150
휴대폰ㆍ전자기기매장 done 19 / 150
가구ㆍ침구ㆍ생활소품 done 20 / 150
서점ㆍ문구ㆍ팬시 done 21 / 150
약국 done 22 / 150
농수산ㆍ청과ㆍ축산 done 23 / 150
화훼ㆍ꽃집 done 24 / 150
유통ㆍ판매 기타 done 25 / 150
놀이공원ㆍ테마파크 done 26 / 150
호텔ㆍ리조트ㆍ숙박 done 27 / 150
여행ㆍ캠프ㆍ레포츠 done 28 / 150
영화ㆍ공연 done 29 / 150
전시ㆍ컨벤션ㆍ세미나 done 30 / 150
스터디룸ㆍ독서실ㆍ고시원 done 31 / 150
PC방 done 32 / 150
노래방 done 33 / 150
볼링ㆍ당구장 done 34 / 150
스크린 골프ㆍ야구 done 35 / 150
DVDㆍ멀티방ㆍ만화카페 done 36 / 150
오락실ㆍ게임장 done 37 / 150
이색테마카페 done 38 / 150
키즈카페 done 39 / 150
찜질방ㆍ사우나ㆍ스파 done 40 / 150
피트니스ㆍ스포츠 done 41 / 150
공인중개 done 42 / 150
골프캐디 done 43 / 150
고속도로휴게소 done 44 / 150
문화ㆍ여가ㆍ생활 기타 done 45 / 150
매장관리ㆍ판매 done 46 / 150
MD done 47 / 150
캐셔ㆍ카운터 done 48 / 150
서빙 done 49 / 150
주방장ㆍ조리사 done 50 / 150
주방보조ㆍ설거지 done 51 / 150
바리스타 done 52 / 150
안내데스크 done 53 / 150
주차관리ㆍ주차도우미 done 54 / 150
보안ㆍ경비ㆍ경호 done 55 / 150
주유ㆍ세차 done 56 / 150
전단지배포 done 57 / 150
청소ㆍ미화 done 58 / 150
렌탈관리ㆍA/S done 59 / 150
헤어ㆍ미용ㆍ네일샵 done 60 / 150
피부관리ㆍ마사지 done 61 / 150
반려동물케어 done 62 / 150
베이비시터ㆍ가사도우미 done 63 / 150
결혼ㆍ연회ㆍ장례도우미 done 64 / 150
판촉도우미 done 65 / 150
이벤트ㆍ행사스텝 done 66 / 150
나레이터모델 done 67 / 150
피팅모델 done 68 / 150
서비스 기타 done 69 / 150
사무보조 done 70 / 150
문서작성ㆍ자료조사 done 71 / 150
비서 done 72 / 150
경리ㆍ회계보조 done 73 / 150
인사ㆍ총무 done 74 / 150
마케팅ㆍ광고ㆍ홍보 done 75 / 150
번역ㆍ통역 done 76 / 150
복사ㆍ출력ㆍ제본 done 77 / 150
편집ㆍ교정ㆍ교열 done 78 / 150
공공기관ㆍ공기업ㆍ협회 done 79 / 150
학교ㆍ도서관ㆍ교육기관 done 80 / 150
고객상담ㆍ인바운드 done 81 / 150
텔레마케팅ㆍ아웃바운드 done 82 / 150
금융ㆍ보험영업 done 83 / 150
일반영업ㆍ판매 done 84 / 150
설문조사ㆍ리서치 done 85 / 150
영업관리ㆍ지원 done 86 / 150
제조ㆍ가공ㆍ조립 done 87 / 150
포장ㆍ품질검사 done 88 / 150
입출고ㆍ창고관리 done 89 / 150
상하차ㆍ소화물 분류 done 90 / 150
기계ㆍ전자ㆍ전기 done 91 / 150
정비ㆍ수리ㆍ설치ㆍA/S done 92 / 150
공사ㆍ건설현장 done 93 / 150
PVC(닥트ㆍ배관설치) done 94 / 150
조선소 done 95 / 150
재단ㆍ재봉 done 96 / 150
생산ㆍ건설ㆍ노무 기타 done 97 / 150
웹ㆍ모바일기획 done 98 / 150
사이트ㆍ콘텐츠 운영 done 99 / 150
바이럴ㆍSNS마케팅 done 100 / 150
프로그래머 done 101 / 150
HTML코딩 done 102 / 150
QAㆍ테스터ㆍ검증 done 103 / 150
시스템ㆍ네트워크ㆍ보안 done 104 / 150
PCㆍ디지털기기 설치ㆍ관리 done 105 / 150
입시ㆍ보습학원 done 106 / 150
외국어ㆍ어학원 done 107 / 150
컴퓨터ㆍ정보통신 done 108 / 150
요가ㆍ필라테스 강사 done 109 / 150
피트니스 트레이너 done 110 / 150
레져스포츠 강사 done 111 / 150
예체능 강사 done 112 / 150
유아ㆍ유치원 done 113 / 150
방문ㆍ학습지 done 114 / 150
보조교사 done 115 / 150
자격증ㆍ기술학원 done 116 / 150
국비교육기관 done 117 / 150
교육ㆍ강사 기타 done 118 / 150
웹ㆍ모바일디자인 done 119 / 150
그래픽ㆍ편집디자인 done 120 / 150
제품ㆍ산업디자인 done 121 / 150
CADㆍCAMㆍ인테리어디자인 done 122 / 150
캐릭터ㆍ애니메이션디자인 done 123 / 150
패션ㆍ잡화디자인 done 124 / 150
디자인 기타 done 125 / 150
미디어 전체 done 126 / 150
보조출연ㆍ방청 done 127 / 150
방송스텝ㆍ촬영보조 done 128 / 150
동영상촬영ㆍ편집 done 129 / 150
사진촬영ㆍ편집 done 130 / 150
조명ㆍ음향 done 131 / 150
방송사ㆍ프로덕션 done 132 / 150
신문ㆍ잡지ㆍ출판 done 133 / 150
미디어 기타 done 134 / 150
운송ㆍ이사 done 135 / 150
대리운전ㆍ일반운전 done 136 / 150
택시ㆍ버스운전 done 137 / 150
수행기사 done 138 / 150
화물ㆍ중장비ㆍ특수차 done 139 / 150
택배ㆍ퀵서비스 done 140 / 150
배달 done 141 / 150
병원ㆍ간호ㆍ연구 전체 done 142 / 150
간호조무사ㆍ간호사 done 143 / 150
간병ㆍ요양보호사 done 144 / 150
원무ㆍ코디네이터 done 145 / 150
외래보조ㆍ병동보조 done 146 / 150
수의테크니션ㆍ동물보건사 done 147 / 150
실험ㆍ연구보조 done 148 / 150
생동성ㆍ임상시험 done 149 / 150

        alba_name sub_code                                            context
0           일반음식점     1010  조리사 및 주방장은 예민한 미각이 필요하며 새로운 음식 메뉴를 개발하기 위해 진취적...
1            레스토랑     1020  각종 와인의 종류와 맛, 음식과의 궁합에 대해 알고 있어야 하며, 이를 위해 포도의...
2         패밀리레스토랑     1030  각종 와인의 종류와 맛, 음식과의 궁합에 대해 알고 있어야 하며, 이를 위해 포도의...
3          패스트푸드점     1040  무엇보다 설거지, 청소, 음식재료 다듬기 등의 힘든 일을 잘 견디어낼 수 있는 인내...
4        치킨ㆍ피자전문점     1050  무엇보다 설거지, 청소, 음식재료 다듬기 등의 힘든 일을 잘 견디어낼 수 있는 인내...
..            ...      ...                                                ...
145      원무ㆍ코디네이터     E030  보건의료정보관리사는 의료분야의 전산화로 전문적인 전산지식이 필요하며 수많은 통계자료...
146     외래보조ㆍ병동보조     E040  치과위생사는 치위생에 관한 기초지식이 필요하며 병원뿐만 아니라 타 공사기관에서 구강...
147  수의테크니션ㆍ동물보건사     E050  수의사는 세심한 관찰력이 필요하며, 돌발 상황 시 침착하게 문제를 해결할 수 있는 ...
148       실험ㆍ연구보조     E060  대체에너지개발연구원은 새로운 대체 에너지를 연구ㆍ개발할 수 있는 창의력과 논리적으로...
149      생동성ㆍ임상시험     E070  생물학 및 자연과학 전반에 대한 지식을 가지고 있어야 하며 자연법칙과 과학적 연구방...

[150 rows x 3 columns]

In [157]:
data.to_csv("alba-aptitude.csv")